body{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Cormorant Garamond', serif;
}

h1,h2,h3,h4,h5,h6{
    /* font-family: 'Merriweather', serif; */
}

.container-fluid{
  padding : 0 10% 0 10%;
}

/* Title */
#title .container-fluid{
  padding: 2% 10% 4% 10%;
}

.title-img{
  width: 80%;
  padding-top: 20%;
  border-radius: 100%;
}

.title-para{
  padding: 6% 2.5% 0 0;
}


/* Publications */

.publications-card{
  padding: 0.1%;
  margin: 4%;
}

.publications-card-btn{
  margin-top: 5px;
}

h6{
  font-weight:bold ;
}


/* Footer */
.footer-content{
  text-align: center;
  font-size: 0.7rem;
}

.social-icon{
  margin: 1.2rem;
  color: #292b2c;
}


@media (max-width: 1028px) {

  #title{
    text-align: center;
  }

}

@media (min-width: 1700px) {
  .title-para{
    padding: 15% 1% 0 0;
    font-size: 1.4rem;
  }
}
